# Java Gradle CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-java/ for more details
#
version: 2
jobs:
  build:
    filters:
      tags:
        only: /^v.*/
      branches:
        ignore: /.*/
    docker:
      # specify the version you desire here
      - image: circleci/openjdk:11-jdk

      # Specify service dependencies here if necessary
      # CircleCI maintains a library of pre-built images
      # documented at https://circleci.com/docs/2.0/circleci-images/
      # - image: circleci/postgres:9.4

    working_directory: ~/repo

    environment:
      # Customize the JVM maximum heap limit
      JVM_OPTS: -Xmx3200m
      TERM: dumb

    steps:
      - checkout

      - setup_remote_docker:
          version: 19.03.12
          docker_layer_caching: false

      # Download and cache dependencies
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "build.gradle" }}
            # fallback to using the latest cache if no exact match is found
            - v1-dependencies-
           
      - run: docker login -u $DOCKER_USER -p $DOCKER_PASS         

      - run: gradle dependencies

      - run: gradle build

      - run: docker build -t dig0w/school:$CIRCLE_BRANCH .

     # deploy the image
      - run: docker push dig0w/school:$CIRCLE_BRANCH
